# Try/Except

In [2]:
#x = int(input("Number:")) output will be ValueError: invalid literal for int() with base 10: 'askan'
i = 0
while(i == 0):
    try:
        x = int(input("Number:"))
        i -=1
        print("That is a number")
    except:
        print("That is not a number")

Number:w
That is not a number
Number:2
That is a number

# Filter&Enumerate
Filter and enumaerate are inner functions in python. Inner functions, are functions that you define inside other functions. In Python, this kind of function has direct access to variables and names defined in the enclosing function. more:https://realpython.com/inner-functions-what-are-they-good-for/#:~:text=Inner%20functions%2C%20also%20known%20as,closure%20factories%20and%20decorator%20functions.

In [4]:
nums = [1,3,5,12,43,56,87,98,54,23,54,765,3454]
def func(x):
    if (x < 50):
        return False
    else:
        return True

fifthy = filter(func, nums)#filter

for x in fifthy:
  print(x)

56
87
98
54
54
765
3454

In [28]:
x=0
sum=0
for i in nums:
    sum += nums[x]
    x+=1
mean = round(sum/13,2)
print("sum: {}".format(sum))
print("mean(rounded): {}".format(mean))

sum: 4655
mean(rounded): 358.08

In [29]:
def func2(x):
    if(x> mean):
        print("Your number is greater than average of the nums.")
    elif(x<mean):
        print("Your number is smaller than average of the nums.")
    else:
        print("Your number is equal to average of the nums")
x = int(input("Number"))
func2(x)

Number400
Your number is greater than average of the nums.

Without filter

In [39]:
mean=358.8
def func3():
    x=0
    for i in nums:
        if(nums[x]>mean):
            print("This number is greater than average of the nums: {}".format(nums[x]))
        if(nums[x]<mean):
            print("This number is smaller than average of the nums: {}".format(nums[x]))
        elif(nums[x]==mean):
            print("This number is equal to average of the nums: {}".format(nums[x]))
        
        x+=1
func3()

This number is smaller than average of the nums: 1
This number is smaller than average of the nums: 3
This number is smaller than average of the nums: 5
This number is smaller than average of the nums: 12
This number is smaller than average of the nums: 43
This number is smaller than average of the nums: 56
This number is smaller than average of the nums: 87
This number is smaller than average of the nums: 98
This number is smaller than average of the nums: 54
This number is smaller than average of the nums: 23
This number is smaller than average of the nums: 54
This number is greater than average of the nums: 765
This number is greater than average of the nums: 3454

With filter

In [40]:
def func4(x):
    if (x <358.8):
        return False
    else:
        return True
fifthy = filter(func4, nums)#filter

for x in fifthy:
  print(x)

765
3454

In [46]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
type(y)

enumerate

In [47]:
for i in enumerate(x):
    print(i)

(0, 'apple')
(1, 'banana')
(2, 'cherry')

In [50]:
for index,i in enumerate(x):#just indexes
    print(index)

0
1
2

In [52]:
for index,i in enumerate(x):#just values
    print(i)

apple
banana
cherry

In [43]:
values = ["a", "b", "c"]
for count, value in enumerate(values, start=1):
     print(count, value)

1 a
2 b
3 c

# Inheritance

In [69]:
class employee():
    def __init__(self,role,experience,age,salary):
        self.role  = role
        self.experience  = experience
        self.age   = age
        self.salary  = salary

In [70]:
semi = employee("ceo",10,19,10000)
ahmet = employee("cto",7,17,7000)
mehmet = employee("cfo",6,18,7500)

In [71]:
semi.role

'ceo'

In [72]:
semi.age

19

In [73]:
#del employee del deletes the employee class

In [74]:
print(semi)#normally semi's output is:<__main__.employee object at 0x0000022F1F4E31D0>

<__main__.employee object at 0x0000022F213C8860>

In [75]:
class employee2():
    def __init__(self,role,experience,age,salary):
        self.role  = role
        self.experience  = experience
        self.age   = age
        self.salary  = salary
    def __str__(self):
        return "Role: {}\nExperience: {}\nAge: {}\nSalary: {}".format(self.role,self.experience,self.age,self.salary)

In [76]:
semi = employee2("ceo",10,19,10000)
ahmet = employee2("cto",7,17,7000)
mehmet = employee2("cfo",6,18,7500)

In [77]:
print(semi)

Role: ceo
Experience: 10
Age: 19
Salary: 10000

To write your own special method: https://diveinto.org/python3/special-method-names.html

In [78]:
class board(employee2):#this is inheritance
    pass

In [79]:
print(ata)

Role: chairperson
Experience: 5
Age: 40
Salary: 17000

In [99]:
class board(employee2):
    def raise_salary(self,raise_amount):
        print("Raising the salary...")
        self.salary += raise_amount
        print("New salary is: {}".format(self.salary))
    def discount_salary(self,discount_amount):
        print("Discounting the salary...")
        self.salary += discount_amount
        print("New salary is: {}".format(self.salary))

In [100]:
deniz = board("member",2,35,15000)
kaan = board("member",3,32,13000)
ata = board("chairperson",5,40,17000)

In [101]:
ata.salary

17000

In [102]:
ata.raise_salary(9)

Raising the salary...
New salary is: 17009

In [103]:
ata.discount_salary(87)

Discounting the salary...
New salary is: 17096

# Day6
1️⃣Overriding

2️⃣Super function

3️⃣More method

4️⃣Football team example for class