# Print

Printing "hello world" first is a tradition in programming. You can read the details here:https://en.wikipedia.org/wiki/%22Hello,_World!%22_program

In [4]:
print("hello world")

hello world

In [9]:
"""You can use 
3 quatation marks for multiple line of comment."""

'You can use \n3 quatation marks for multiple line of comment.'

In [10]:
#using quoatation marks are not needed when you assing varibles to a letter
x = "hello world"
print(x)
#otherwise
print("x")

hello world
x

# Data types
1Ô∏è‚É£Integer(int)

2Ô∏è‚É£Float

3Ô∏è‚É£String(str)

5Ô∏è‚É£Boolean: represents one of two values: True or False.

In [12]:
a = 3
type(a)

int

In [13]:
b = 3.0
type(b)

float

In [19]:
x = "hello world"
type(x)

str

In [20]:
x[0]#python counts from 0, that is why output is "h" here

'h'

In [17]:
print(5>4)
print(4>5)

True
False

# Math Operators
Usage of simple math operators in python

In [21]:
5+12

17

In [22]:
13-12

1

In [26]:
13/5

2.6

In [27]:
round(13/5)

3

In [25]:
2**3#exponential expressions

8

In [28]:
(5**2)+(12**2)

169

In [31]:
y = 10
y + 2
y -2

8

In [33]:
z = 10
z += 2
z -= 2
z#when variables assign with equal(=) they get the new number

10

In [35]:
z%2 == 0# to see if z is even

True

In [36]:
print(z,"2")
print("z",2)
print(z+2)

10 2
z 2
12

In [39]:
z/y

1.0

# Day2
1Ô∏è‚É£Type conversionüêç

2Ô∏è‚É£Complex numbersüî¢

3Ô∏è‚É£Listüêç

4Ô∏è‚É£Dictionary(dict)üìö

5Ô∏è‚É£Tupleüêç

6Ô∏è‚É£Setüêç

7Ô∏è‚É£If, elif, else statementsü§†