# Logistic Regression in titanic dataset
Logistic regression is the appropriate regression analysis to conduct when the dependent variable is dichotomous (binary).  Like all regression analyses, the logistic regression is a predictive analysis.  Logistic regression is used to describe data and to explain the relationship between one dependent binary variable and one or more nominal, ordinal, interval or ratio-level independent variables. https://en.wikipedia.org/wiki/Logistic_regression

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#from mpl_toolkits.mplot3d import Axes3D
from sklearn import datasets
#from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression#resource: https://scikit-learn.org/stable/modules/linear_model.html
from sklearn import linear_model
import seaborn as sns

In [2]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
gender_submission = pd.read_csv("data/gender_submission.csv")
train["Age"] = train["Age"].fillna(train["Age"].mean())
test["Age"] = test["Age"].fillna(test["Age"].mean())
train["Cabin"] = train["Cabin"].fillna("G6")
train["Embarked"] = train["Embarked"].fillna("Q")
print(pd.isnull(train).sum())
print(pd.isnull(test).sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [3]:
#survived and sex
train2 = train.copy()
test2 = test.copy()

train2 = train2.drop(["PassengerId","Pclass","Name","Age","SibSp","Parch","Ticket","Fare","Cabin","Embarked"],axis=1)
test2 = test2.drop(["PassengerId","Pclass","Name","Age","SibSp","Parch","Ticket","Fare","Cabin","Embarked"],axis=1)
train2.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [4]:
train = train.drop(['Name'], axis = 1)
test = test.drop(['Name'], axis = 1)
train = train.drop(['Ticket'], axis = 1)
test = test.drop(['Ticket'], axis = 1)
train = train.drop(['Cabin'], axis = 1)
test = test.drop(['Cabin'], axis = 1)
train = train.drop(['Fare'], axis = 1)
test = test.drop(['Fare'], axis = 1)

In [5]:
sex_mapping = {"male": 1, "female": 0}
train["Sex"] = train["Sex"].map(sex_mapping)
test["Sex"] = test["Sex"].map(sex_mapping)
#map each Embarked value to a numerical valu
train2["Sex"] = train2["Sex"].map(sex_mapping)
test2["Sex"] = test2["Sex"].map(sex_mapping)
embarked_mapping = {"S": 1, "C": 2, "Q": 3}
train["Embarked"] = train["Embarked"].map(embarked_mapping)
test["Embarked"] = test["Embarked"].map(embarked_mapping)

In [6]:
from sklearn.model_selection import train_test_split

predictors = train.drop(['Survived', 'PassengerId'], axis=1)
target = train["Survived"]
x_train, x_val, y_train, y_val = train_test_split(predictors, target, test_size = 0.22, random_state = 0)

In [7]:
x_train.head(3)#0 is female, 1 is male

     Pclass  Sex   Age  SibSp  Parch  Embarked
172       3    0   1.0      1      1         1
447       1    1  34.0      0      0         1
597       3    1  49.0      0      0         1

In [8]:

# Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_val)
acc_logreg = round(accuracy_score(y_pred, y_val) * 100, 2)
print(acc_logreg)

81.73

resource: https://towardsdatascience.com/predicting-the-survival-of-titanic-passengers-30870ccc7e8

https://github.com/nadintamer/Kaggle-Titanic/blob/master/titanic-kaggle.ipynb

# Day 27
Scikit Learn