# Pandas
pip install pandas

conda install pandas

official website: https://pandas.pydata.org/

pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

# Reading data

In [1]:
import pandas as pd
print(pd.__version__)

1.1.3

In [2]:
dataset = {
  'first_column': ["a", "b", "c"],
  'second_column': [1,2,3]
}

x = pd.DataFrame(dataset)

print(x)

  first_column  second_column
0            a              1
1            b              2
2            c              3

# Series

In [3]:
a = [1, 7, 2]

a2 = pd.Series(a)
print(a2)
a[2]#3. element

0    1
1    7
2    2
dtype: int64

2

# Data Frames

In [4]:
data = {
  "first_column": [1, 2, 3],
  "second_column": [4, 5, 6]
}

df = pd.DataFrame(data)

print(df)

   first_column  second_column
0             1              4
1             2              5
2             3              6

In [5]:
print(df.loc[0])#row index

first_column     1
second_column    4
Name: 0, dtype: int64

In [6]:
data = {
  "first_column": [1, 2, 3],
  "second_column": [4, 5, 6]
}

df = pd.DataFrame(data, index = ["first", "second", "third"])

print(df)

        first_column  second_column
first              1              4
second             2              5
third              3              6

In [7]:
print(df.loc["first"])#row index

first_column     1
second_column    4
Name: first, dtype: int64

# Read Datasets

In [8]:
df = pd.read_excel('cars4.xlsx')
df.head()#head returns 5 numbers from the top. If you give a number it will return specific number.

   Brands  Models  Ages  Prices        Formulas  Unnamed: 5
0   tesla  ModelS     5  100000  Average price:         0.0
1    Opel   Astra     6   30000    Average age:         0.0
2  Porche  Taycan     1  300000             NaN         NaN
3    Opel   Corsa     8   10000             NaN         NaN

In [9]:
df.head(1)

  Brands  Models  Ages  Prices        Formulas  Unnamed: 5
0  tesla  ModelS     5  100000  Average price:         0.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brands      4 non-null      object
 1   Models      4 non-null      object
 2   Ages        4 non-null      int64
 3   Prices      4 non-null      int64
 4   Formulas    2 non-null      object
 5   Unnamed: 5  2 non-null      float64
dtypes: float64(1), int64(2), object(3)
memory usage: 320.0+ bytes

In [11]:
df["Prices"].mean()

110000.0

In [12]:
df["Prices"].max()

300000

In [13]:
df["Prices"].min()

10000

# Day 14

 larger dataset taken from kaggle